@font-face {
  font-family: 'Maki Sans';
  src: local('Maki Sans'), url(./fonts/Maki\ Sans.ttf) format('truetype');
}

.Wrapper{
  margin: 0;
  padding-top: 1%;
  text-align: center;
  min-height: 98vh;
  background-color: #396596;
  font-family: 'Maki Sans';
}